nohup.out
Parameters_all/Models
mk_all_old.h5
Parameters_all/.ipynb_checkpoints
/max_impuls/mc_wfmax_norm.h5
/__pycache__/
max_impuls/Models/
max_impuls/Notebooks/.ipynb_checkpoints/
Parameters_all/.ipynb_checkpoints/
max_impuls/base_models/
max_impuls/src/__pycache__/
